@model Core.Entities.Apple.IphoneReprationPreis

@{
    Layout = "_PortfolioLayout";
}
<div class="container">
    <div class="section-title">
        <h2>Details</h2>
        <p> Iphone Repration Preis</p>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            <img src="~/img/Apple/Iphone/@Model.ImageName" class="img-thumbnail Portfolio-img" alt="@Model.ImageName" />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkærmOEM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkærmOEM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_SkærmOEM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_SkærmOEM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkærmOrgnal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkærmOrgnal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_SkærmOrgnal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_SkærmOrgnal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batteri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batteri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Batteri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Batteri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bagglas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bagglas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Bagglas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Bagglas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BagglasOgRamme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BagglasOgRamme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_BagglasOgRamme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_BagglasOgRamme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ørehøjtaler)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ørehøjtaler)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Ørehøjtaler)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Ørehøjtaler)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FrontKameraNærhedsensor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FrontKameraNærhedsensor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_FrontKameraNærhedsensor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_FrontKameraNærhedsensor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bagkamera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bagkamera)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Bagkamera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Bagkamera)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ladestik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ladestik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Ladestik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Ladestik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Højtale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Højtale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Højtale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Højtale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vibrator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vibrator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Vibrator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Vibrator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TændSluk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TændSluk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_TændSluk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_TændSluk)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolumeLydløs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolumeLydløs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_VolumeLydløs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_VolumeLydløs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fejlfinding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fejlfinding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Fejlfinding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Fejlfinding)
        </dd>

    </dl>

    <div>
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ID">Edit</a>
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </div>
</div>
<style>
    .col-sm-10 {
        width: 50%;
    }

    .col-sm-2 {
        width: 50%;
    }
    .Portfolio-img {
        width: 75px;
        height: 64px;
    }
</style>
