@model Core.Entities.Apple.AppleWatchReprationPreis

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}

<div class="container">
    <h3 class="text-danger">Are you sure you want to delete this?</h3>
    <div class="section-title">
        <h2>Delete</h2>
        <p> Apple Watch</p>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            <img src="~/img/Apple/Apple Watch/@Model.ImageName" class="img-thumbnail Portfolio-img" alt="@Model.ImageName" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skærm_A)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Skærm_A)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Skærm_A)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Skærm_A)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skærm_B)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Skærm_B)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Skærm_B)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Skærm_B)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skærm_C)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Skærm_C)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Skærm_C)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Skærm_C)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skærm_D)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Skærm_D)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Skærm_D)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Skærm_D)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batteri_A)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batteri_A)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Batteri_A)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Batteri_A)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Batteri_B)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Batteri_B)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Batteri_B)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Batteri_B)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fejlfinding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fejlfinding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.p_Fejlfinding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.p_Fejlfinding)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </form>
</div>

<style>
    .col-sm-10 {
        width: 50%;
    }

    .col-sm-2 {
        width: 50%;
    }

    .Portfolio-img {
        width: 75px;
        height: 64px;
    }
</style>